{% extends "basic.html" %}


{% block title %} blog Post{% endblock %}

{% block body %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-6">
            <img class="text-center" src="{{post.image.url}}" width=70% height="270">
        </div>
   {%for i in cat_post %}
    <div class="col-md-6">
        <p class="text-center text-primary"><b>{{i.title}}</b>   ({{i.add_date}}) </p>
        <p>{{i.desc|safe|truncatechars:400}}</p>
        <img class="float-right" src="{{i.image.url}}" >
    </div>
    {% endfor %}
    
</div>
<hr>
<hr>

    <div class="row">

      
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                {{post.title}}
            </h3>
            <br>

            <div class="blog-post">
                <p class="blog-post-meta">{{post.timestemp}} by <a href="/about/{{request.id}}/">{{post.author}}</a></p>
               <p> {{post.desc|safe}}</p>
            </div>
        </div>
  
</div>
</div>
</div>


{% endblock %}